
#
# Don't check in our local file
#
config/local.json

# Vim
*.swp

npm-debug.log

#
# Don't check in the contents of sessiosn
#
sessions/

#
# Our persistent token data. Don't put access tokens in Git. :-)
#
bin/cache/


