extends layout

block content

	h1 Page Not Found :-(

	script.
		$(document).ready(function() {
		});


	div(class="row")
		div(class="col-md-12")
			img(class="img-responsive" src="/images/cheetah-in-bucket.png")


