extends layout

block content

	h1 Facebook Group Stats

	script.
		
		$(document).ready(function() {

		});



	each val, index in data
		div(class="row")
			div(class="col-md-8")
				- var uri = index
				- var name = val.name + ", " +  val.config.numPosts + " most recent posts"
				- var last = val.last_updated
				a(href="/group/" + uri type="button" class="btn btn-primary" ) 
					div 
						| #{val.name}
						br
						| #{val.config.numPosts} most recent posts
						
				p(class="last-updated") Last updated: #{last}


