extends layout

block content

	h1 Login

	script.
		
		$(document).ready(function() {

		});

	p Please log into Facebook to access this app.

	a(href="/auth/facebook") 
		img(src="/images/login-with-facebook.png" height=40) 
	br
	br

	h2 Why are you asking for a login?

	p The reason we're asking for a Facebook login is because access to <a href="https://developers.facebook.com/docs/graph-api">Facebook's Graph API</a> requires a Facebook Application assocaited with it, which in turn requires a user login.

	h2 Privacy Policy

	p We don't store any of your data.  Zero, zilch, nada.  

	p If you still don't trust us, feel free to <a href="https://github.com/dmuth/facebook-group-stats">root through the source code</a>.


