   
body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-inverse {
	/*
	background-color: #7A58B0;
	border-color: #5A3890;
	*/
}

.navbar-inverse .navbar-brand  {
	color: white;
}

.navbar-inverse .navbar-nav>li>a
{
	color: white;
}

.alert {
  position: relative;
}


/**
* Waste less horizontal space above header tags.
*/
h1,h2 {
	margin-top: 0px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

.last-updated {
	font-size: smaller;
}

