{


//
// The secret for encrpyting sessions.
//
// PLEASE REPLACE/OVERRIDE THIS WITH ONE OF YOUR OWN!
//
// You can generate a replacement key with DiceWare: https://www.dmuth.org/diceware/
//
sessionSecret: "FIXME",

//
// Our info for our Facebook app
//
facebookAuth: {
	clientID: "FIXME",
	clientSecret: "FIXME",
	callbackURL: "http://localhost:3000/auth/facebook/callback",
},

//
// Define our "crowds", which are groups of groups.
// The reason we have a higher level of organization here is because we may want 
// pull data from the same group multiple times (Top 5, Top 10, Top 25, etc...)
// and this allows us to have a logical grouping of such things.
//
"crowds": {

	"anthrocon": {
		"name": "Anthrocon Leaderboards",

		"groups": {

			"anthrocon10": {
				//
				// The "id" field is REQUIRED.  Everything else is optional.
				//
				id: "49844448265",
				numPosts: 10,
				numTopPosters: 5,
				numTopCommenters: 3,
				refreshInterval: 300,
				retryInterval: 10,
			},

			"anthrocon50": {
				id: "49844448265",
				numPosts: 50,
				numTopPosters: 10,
				numTopCommenters: 10,
				refreshInterval: 300,
				retryInterval: 10,
			},

			"anthrocon250": {
				id: "49844448265",
				numPosts: 250,
				numTopPosters: 10,
				numTopCommenters: 10,
				refreshInterval: 300,
				retryInterval: 10,
			},

		},

	},

},

}



